registry=https://registry.npmjs.org/
always-auth=false
ignore-scripts=true
strict-peer-dependencies=true
engine-strict=true
save-exact=true
resolution-mode=highest
lockfile-include-tarball-url=false
fetch-retries=1
fetch-timeout=30000
network-concurrency=8
verify-store-integrity=true
