include alembic.ini
include README.md
include Dockerfile
include .dockerignore
include uv.lock
recursive-include .github *.md *.yml
recursive-include migrations *.py *.mako
recursive-include contracts *.md *.json *.in *.lock
recursive-include docs *.md
recursive-include fixtures *.md .gitignore
recursive-include deploy *.md *.yaml *.yml *.json
recursive-include tests *.py *.json
recursive-include tools *.py
